.navBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .navList {
        display: flex;

        li {
            text-align: center;
            line-height: 1.85rem;
            letter-spacing: 0.05rem;
            font-size: 1rem;
            font-family: $lato;
            font-weight: bold;
            text-transform: uppercase;
            padding-right: 50px;

            a {
                color: $solidBlack;
                &:hover,
                &:focus {
                    border-bottom: 4px solid $brightYellow;
                }
                
            }
        }
    }

}

.mainHeader {
    background-image: url(../assets/header-home.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 200px;

    h1 {
        padding-left: 200px;
    }

    .secondHeaderImage {
        position: relative;
        top: 150px;
        img {
            width: 50%;
        }
    }

}

.blogHeader {
    background-image: url(../assets/blog-image.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    

    h1 {
        padding-bottom: 400px;
    }
    .blogNavContainer {
        display: flex;
        justify-content: space-between;
    }
}

