.modeContainer {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 60px;
    width: 60px;
    z-index: 100;
   

    i {
        font-size: 2rem;
    }

    button {
        position: sticky;
        left: 10px;
        top: 10px;
        display: flex;
        justify-content: center;
        height: 60px;
        width: 60px;
        background-color: $solidWhite;
        color: $solidBlack;
        border: 2px dotted $evergreen;

        &:hover,
        &:focus {
            background-color: $solidBlack;
            color: $solidWhite;
            border: 2px solid $brightYellow;
        }
    }

}

.darkModeGeneral {
    background-color: rgb(156, 156, 156);
}

.indexHeaderDarkMode {
    filter: brightness(70%);
}

.galleryDarkMode,
.indexAboutDarkMode {
    background-color: #769475;
}

.locations .locationsImage .indexImageDarkMode,
.programs .programsImage .indexImageDarkMode,
.introContainer .introImage .indexImageDarkMode {
    filter: brightness(80%);
    box-shadow: none;
}
