p {
    padding: 30px;
}

.introContainer {
    display: flex;

    .introText {
        display: flex;
        flex-direction: column;
        width: 75%;
        align-items: flex-start;
        padding: 50px;
        
    }

    .introImage {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    }
}

.gallery {
    background-color: $iceColor;
}
.galleryContainer {
    display: flex;

    img {
        width: calc(100% / 3);
        padding: 25px;
    }
}


.mainContactsContainer {
    display: flex;
    flex-wrap: wrap;

    .mainContactsText {
        width: calc(100% / 2);
    }
}

.aboutContainer {
    background-color: $iceColor;
}

.programs {
    display: flex;
}

.locations {
    display: flex;
}




.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        text-align: center;
    }
    button {
        width: 20%;

    }
}

.sectionBreak {
    background-image: url(../assets/banner-image.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: 100vw;
}


footer {
    background-color: $solidBlack;
    
    p {
    margin: 0;
    text-align: center;
    color: $solidWhite;
    background-color: $solidBlack;
    }
}